@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="account-button">
@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index">
        <img src="~/assets/svg/ico_account_gray.svg" alt="" />
        <p>Tài khoản</p>
    </a>
    <div class="account-dropdown">
        <div>
            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" type="button" class="account-dropdown-item">
                    <p><i class="fa-solid fa-user-large"></i> Thông tin tài khoản</p>
            </a>
        </div>
        <div>
            <a id="manage" asp-area="Customer" asp-controller="Address" asp-action="Index" type="button" class="account-dropdown-item">
                    <p><i class="fa-solid fa-address-book"></i> Địa chỉ giao hàng</p>
            </a>
        </div>
        <div>
                <a id="manage" asp-area="Customer" asp-controller="Order" asp-action="Index" type="button" class="account-dropdown-item">
                    <p><i class="fa-solid fa-cart-flatbed"></i> Đơn đặt hàng</p>
            </a>
        </div>
        <div>
            <form id="logoutForm" class="account-dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</button>
            </form>
        </div>
        
    </div>

}
else
{

    <a asp-area="Identity" asp-page="/Account/Login">
        <img src="~/assets/svg/ico_account_gray.svg" alt="">
        <p>Tài Khoản</p>
    </a>
    <div class="account-dropdown">
        <div>
            <a id="login" asp-area="Identity" asp-page="/Account/Login" type="button" class="account-dropdown-login">
                <p>Đăng nhập</p>
            </a>
        </div>
        <div>
            <a id="register" asp-area="Identity" asp-page="/Account/Register" type="button" class="account-dropdown-register">
                <p>Đăng ký</p>
            </a>
        </div>
    </div>

}
</div>