
@{
    ViewData["Title"] = "Search";
}

<main class="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 category-container">
                <div class="link">
                    <div class="title">
                        <h4>Thể loại</h4>
                        <div class="caret"></div>
                    </div>

                    <ul class="category">
                        <li class="py-1">
                            <a href="">Novel</a>
                        </li>
                        <li class="py-1">
                            <a href="">TextBook</a>
                        </li>
                        <li class="py-1">
                            <a href="">Nonfiction</a>
                        </li>
                        <li class="py-1">
                            <a href="">Manga</a>
                        </li>
                        <li class="py-1">
                            <a href="">Dictionary</a>
                        </li>
                    </ul>
                </div>

                <div class="link">
                    <div class="title">
                        <h4>Price</h4>
                        <div class="caret"></div>
                    </div>

                    <ul class="category">
                        <li class="py-1">
                            <a href="">$5 -$10</a>
                        </li>
                        <li class="py-1">
                            <a href="">$10 - $25</a>
                        </li>
                        <li class="py-1">
                            <a href="">$25 - $50</a>
                        </li>
                        <li class="py-1">
                            <a href="">Over $50</a>
                        </li>
                    </ul>
                </div>

                <div class="link">
                    <div class="title">
                        <h4>Thể loại</h4>
                        <div class="caret"></div>
                    </div>

                    <ul class="category">
                        <li class="py-1">
                            <a href="">Novel</a>
                        </li>
                        <li class="py-1">
                            <a href="">TextBook</a>
                        </li>
                        <li class="py-1">
                            <a href="">Nonfiction</a>
                        </li>
                        <li class="py-1">
                            <a href="">Manga</a>
                        </li>
                        <li class="py-1">
                            <a href="">Dictionary</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-10 col-md-10">
                <div class="row products-col gy-2 gx-2">
                    <div class="col-lg-3 col-md-6">
                        <a href="card.html"
                           class="products-item"
                           title="Và Rồi, Tháng 9 Không Có Cậu Đã Tới">
                            <div class="products-image">
                                <img src="images/book3.webp" alt="" />
                                <div class="quick-add">
                                    <p>Mua ngay</p>
                                </div>
                            </div>
                            <p class="products-title">
                                Và Rồi, Tháng 9 Không Có Cậu Đã Tới
                            </p>
                            <span class="products-price">80.000đ</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="card.html"
                           class="products-item"
                           title="One-Punch Man - Tập 23: Thật - Giả - Tặng Kèm Bookmark PVC Saitama">
                            <div class="products-image">
                                <img src="images/book14.jpg" alt="" />
                                <div class="quick-add">
                                    <p>Mua ngay</p>
                                </div>
                            </div>
                            <p class="products-title">
                                One-Punch Man - Tập 23: Thật - Giả - Tặng Kèm Bookmark PVC
                                Saitama
                            </p>
                            <span class="products-price">80.000đ</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="card.html"
                           class="products-item"
                           title="Black Jack - Tập 17 - Tặng Kèm Bookmark Giấy">
                            <div class="products-image">
                                <img src="images/book15.jpg" alt="" />
                                <div class="quick-add">
                                    <p>Mua ngay</p>
                                </div>
                            </div>
                            <p class="products-title">
                                Black Jack - Tập 17 - Tặng Kèm Bookmark Giấy
                            </p>
                            <span class="products-price">80.000đ</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="card.html"
                           class="products-item"
                           title="Tanya Chiến Ký 3: The Finest Hour - Bản Đặc Biệt - Tặng Kèm Bookmark + 2 Postcard Metalize + Lót Ly">
                            <div class="products-image">
                                <img src="images/book4.webp" alt="" />
                                <div class="quick-add">
                                    <p>Mua ngay</p>
                                </div>
                            </div>
                            <p class="products-title">
                                Tanya Chiến Ký 3: The Finest Hour - Bản Đặc Biệt - Tặng Kèm
                                Bookmark + 2 Postcard Metalize + Lót Ly
                            </p>
                            <span class="products-price">80.000đ</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="card.html"
                           class="products-item"
                           title="Tanya Chiến Ký 3: The Finest Hour - Bản Đặc Biệt - Tặng Kèm Bookmark + 2 Postcard Metalize + Lót Ly">
                            <div class="products-image">
                                <img src="images/book4.webp" alt="" />
                                <div class="quick-add">
                                    <p>Mua ngay</p>
                                </div>
                            </div>
                            <p class="products-title">
                                Tanya Chiến Ký 3: The Finest Hour - Bản Đặc Biệt - Tặng Kèm
                                Bookmark + 2 Postcard Metalize + Lót Ly
                            </p>
                            <span class="products-price">80.000đ</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="card.html"
                           class="products-item"
                           title=" Bị Đuổi Khỏi Nhóm Anh Hùng, Tôi Muốn Sống Tự Do Tự Tại Ở Vương Đô">
                            <div class="products-image">
                                <img src="images/book6.webp" alt="" />
                                <div class="quick-add">
                                    <p>Mua ngay</p>
                                </div>
                            </div>
                            <p class="products-title">
                                Bị Đuổi Khỏi Nhóm Anh Hùng, Tôi Muốn Sống Tự Do Tự Tại Ở
                                Vương Đô
                            </p>
                            <span class="products-price">50.000đ</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="card.html"
                           class="products-item"
                           title="Thế Giới Otome Game Thật Khắc Nghiệt Với Nhân Vật Quần Chúng - Tập 3">
                            <div class="products-image">
                                <img src="images/book5.webp" alt="" />
                                <div class="quick-add">
                                    <p>Mua ngay</p>
                                </div>
                            </div>
                            <p class="products-title">
                                Thế Giới Otome Game Thật Khắc Nghiệt Với Nhân Vật Quần Chúng
                                - Tập 3
                            </p>
                            <span class="products-price">70.000đ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

