<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - LeBook</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@7.2.0/dist/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/astyle.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" crossorigin="anonymous"></script>
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
    @await Html.PartialAsync("_NavPartial.cshtml")
    <div id="layoutSidenav">
        @await Html.PartialAsync("_LayoutSidePartial.cshtml")
        <div id="layoutSidenav_content">
            <div>
                @RenderBody()
            </div>
            <footer class="footer-admin mt-auto footer-light">
                <div class="container-xl px-4">
                    <div class="row">
                        <div class="col-md-6 small">Bản quyền &copy; LeBook 2023</div>
                        <div class="col-md-6 text-md-end small">
                            <a href="#!">Chính sách bảo mật</a>
                            &middot;
                            <a href="#!">Điều khoản sử dụng</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.2.0/dist/umd/simple-datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/litepicker/2.0.12/bundle.js"></script>

    <script src="~/js/sascripts.js"></script>
    <script src="~/js/ascript.js"></script>

    <script src="~/_framework/aspnetcore-browser-refresh.js"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("scripts", required: false)
</body>
</html>
