<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
    <!-- Sidenav Toggle Button-->
    <button class="btn btn-icon btn-transparent-dark order-1 order-lg-0 me-2 ms-lg-2 me-lg-0" id="sidebarToggle"><i data-feather="menu"></i></button>
    <!-- Navbar Brand-->
    <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/Admin">Hệ thống quản lý</a>
    <ul class="navbar-nav align-items-center ms-auto">
        <!-- User Dropdown-->
        @if (SignInManager.IsSignedIn(User))
        {
            var curUser = await UserManager.GetUserAsync(User);

            <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4">
                <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="~/assets/img/staff.png" alt="userAvt" /></a>
                <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                    <h6 class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img" src="~/assets/img/staff.png" alt="userAvt" />
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">@curUser.Name</div>
                            <div class="dropdown-user-details-email">@curUser.Email</div>
                        </div>
                    </h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <div class="dropdown-item-icon"><i data-feather="settings"></i></div>
                        Tài khoản
                    </a>
                    <form id="logoutForm" class="account-dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit(); return false;">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Đăng xuất
                        </a>
                    </form>
                    
                </div>
            </li>
        }
    </ul>
</nav>