<footer class="">
    <div class="container footer-container">
        <div class="row">
            <div class="col-sm-2 footer-column">
                <div class="footer-title">
                    <h3>B&N SERVICES</h3>
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="">Affiliate Program</a>
                        </li>
                        <li>
                            <a href="">Publisher & Author Guidelines</a>
                        </li>
                        <li>
                            <a href="">Bulk Order Discounts</a>
                        </li>
                        <li>
                            <a href="">B&N Mobile Apps</a>
                        </li>
                        <li>
                            <a href="">B&N Membership</a>
                        </li>
                        <li>
                            <a href="">B&N Mastercard</a>
                        </li>
                        <li>
                            <a href="">B&N Kids’ Club</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-2 footer-column">
                <div class="footer-title">
                    <h3>About us</h3>
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="">About B&N</a>
                        </li>
                        <li>
                            <a href="">Careers at B&N</a>
                        </li>
                        <li>
                            <a href="">Barnes & Noble, Inc.</a>
                        </li>
                        <li>
                            <a href="">B&N Kitchen</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-2 footer-column">
                <div class="footer-title">
                    <h3>Quick Help</h3>
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="">Help Center</a>
                        </li>
                        <li>
                            <a href="">Covid Safety</a>
                        </li>
                        <li>
                            <a href="">Shipping & Returns</a>
                        </li>
                        <li>
                            <a href="">Store Pickup</a>
                        </li>
                        <li>
                            <a href="">Order Status</a>
                        </li>
                        <li>
                            <a href="">Product Recalls</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-2 footer-column">
                <div class="footer-title">
                    <h3>Shop by category</h3>
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="">Books</a>
                        </li>
                        <li>
                            <a href="">Fiction</a>
                        </li>
                        <li>
                            <a href="">Nonfiction</a>
                        </li>
                        <li>
                            <a href="">Kids</a>
                        </li>
                        <li>
                            <a href="">Teen & YA</a>
                        </li>
                        <li>
                            <a href="">eBooks</a>
                        </li>
                        <li>
                            <a href="">Audiobooks</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4 footer-column">
                <div class="footer-title">
                    <h3>Sign up for savings, news, and updates</h3>
                </div>
                <div class="footer-content">
                    <div class="input-location">
                        <form action="">
                            <input type="text" name="" id="" required="required" />
                            <span for="">Email Address</span>
                        </form>
                    </div>
                </div>
                <div class="social-icons">
                    <p class="followus">Follow us:</p>
                    <div class="icons">
                        <a href="" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>