<div class="header">
    <header>
        <nav class="navbar-list container">
            <div class="row">
                <div class="col-md-2">
                    <a asp-action="Index" class="logo-img">
                        <img src="~/images/logo.png" alt="" />
                    </a>
                </div>
                <form action=""
                      class="col-md-8 col-sm-12 form-input d-flex align-items-center">
                    <div class="d-flex search-bar">
                        <div class="search-options">
                            <img src="~/assets/svg/ico_menu.svg" alt="" />
                            <i class="fa-solid fa-angle-down"></i>
                            <div class="dropdown">
                                <div class="row">
                                    <div class="col-md-3 left">
                                        <p class="title">Danh Mục Sản Phẩm</p>
                                        <ul class="verticalmenu">
                                            <li class="tab-btn">
                                                <a href="">Sách Trong Nước</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">Sách Nước Ngoài</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">Sách Trong Nước</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">Sách Trong Nước</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">Sách Trong Nước</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 right active">
                                        <p class="menu-title">Sách Trong Nước</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p>Văn Học</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Tiểu Thuyết</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Truyện Ngắn - Tản Văn</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Light Novel</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Ngôn Tình</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <p>Kinh tế</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Nhân vật - Bài Học Kinh Doanh</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Quản trị - Lãnh đạo</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Marketing - Bán Hàng</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Phân Tích Kinh Tế</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <p>Tâm lý - kĩ năng sống</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Kỹ Năng Sống</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Rèn Luyện Nhân Cách</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Tâm Lý</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Sách Cho Tuổi Mới Lớn</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <p>Sách Thiếu Nhi</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Manga - Comic</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Kiến Thức Bách Khoa</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Sách Tranh Kỹ Năng Sống</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Vừa Học - Vừa Chơi</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="">Tiểu Sử - Hồi Ký</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Câu Chuyện Cuộc Đời</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Truyện Ngắn - Tản Văn</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Tiểu Thuyết</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Tiểu Thuyết</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-9 right">
                                        <p class="menu-title">FOREIGN BOOKS</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p>FICTION</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Contempoary Fiction</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Romance</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Fantasy</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Classics</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <p>BUSINESS & MANAGEMENT</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Business & Management</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Economics</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Finance & Accounting</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <p>Personal development</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Popular Pyschlogy</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Personal Finance</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <p>Children's books</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Piture & Activity Books</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Fiction (For Kids & Teen)</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Education</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Non-Fiction</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="">Other languages</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Japanese Books</a>
                                                    </li>
                                                    <li>
                                                        <a href="">German Books</a>
                                                    </li>
                                                    <li>
                                                        <a href="">French Books</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="">Other categories</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Biography</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Society & Social Sciences</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Science & Geography</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Food & Drink</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-9 right">
                                        <p class="menu-title">Sách Trong Nước</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="">Tiểu Sử - Hồi Ký</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Câu Chuyện Cuộc Đời</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Truyện Ngắn - Tản Văn</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Tiểu Thuyết</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Tiểu Thuyết</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-input">
                            <input type="text"
                                   name=""
                                   id=""
                                   placeholder="Tìm kiếm sản phẩm mong muốn..." />
                        </div>
                        <div>
                            <div class="input-group">
                                <button class="btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="cart col-md-2">
                    <div class="notification-button">
                        <a href="">
                            <img src="~/assets/svg/ico_noti_gray.svg" alt="" />
                            <p>Thông báo</p>
                        </a>
                    </div>
                    <div class="cart-button">
                        <a href="cart.html">
                            <img src="~/assets/svg/ico_cart_gray.svg" alt="" />
                            <p>Giỏ Hàng</p>
                        </a>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
</div>