<div class="header">
    <header>
        <nav class="navbar-list container">
            <div class="row">
                <div class="col-lg-3">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="logo-img">
                        <img src="~/images/logo.png" alt="" />
                    </a>
                </div>
                <div class="col-lg-9 col-sm-12 form-input d-flex align-items-center">
                    <div class="d-flex search-bar">
                        <div class="search-options">
                            <img src="~/assets/svg/ico_menu.svg" alt="" />
                            <i class="fa-solid fa-angle-down"></i>
                            <div class="dropdown">
                                <div class="row">
                                    <div class="col-md-3 left">
                                        <p class="title">Danh Mục Sản Phẩm</p>
                                        <ul class="verticalmenu">
                                            <li class="tab-btn">
                                                <a href="">NHÓM SÁCH VĂN HỌC</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">NHÓM SÁCH KINH TẾ</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">NHÓM SÁCH TÂM LÝ - KỸ NĂNG SỐNG</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">NHÓM SÁCH THIẾU NHI</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">NHÓM SÁCH TIỂU SỬ - HỒI KÝ</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 right active">
                                        <p class="menu-title">SÁCH VĂN HỌC</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p>Tiểu Thuyết</p>
                                                <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                            </div>
                                            <div class="col-sm-3">
                                                <p>Truyện Ngắn - Tản Văn</p>
                                                <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                            </div>
                                            <div class="col-sm-3">
                                                <p>Light Novel</p>
                                                <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                            </div>
                                            <div class="col-sm-3">
                                                <p>Ngôn Tình</p>
                                                <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="">Truyện Tranh</p>
                                                <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-9 right">
                                        <p class="menu-title">SÁCH KINH TẾ</p>
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p>Tiểu Thuyết</p>
                                                    <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                                </div>
                                                <div class="col-sm-3">
                                                    <p>Truyện Ngắn - Tản Văn</p>
                                                    <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                                </div>
                                                <div class="col-sm-3">
                                                    <p>Light Novel</p>
                                                    <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                                </div>
                                                <div class="col-sm-3">
                                                    <p>Ngôn Tình</p>
                                                    <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                                </div>
                                                <div class="col-sm-3">
                                                    <p class="">Truyện Tranh</p>
                                                    <img class="cate-img" src="https://localhost:44331//images/books/c6579a8f-c48b-4cf2-93bd-92d765ab2e2d.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-9 right">
                                        <p class="menu-title">Sách Trong Nước</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="">Tiểu Sử - Hồi Ký</p>
                                                <ul class="nav_links">
                                                    <li>
                                                        <a href="">Câu Chuyện Cuộc Đời</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Truyện Ngắn - Tản Văn</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Tiểu Thuyết</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Tiểu Thuyết</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-input">
                            <input type="text"
                                   name="search"
                                   id="search"
                                   placeholder="Tìm kiếm sản phẩm mong muốn..." />
                        </div>

                        <div class="cart">
                            <div class="notification-button">
                                <a href="">
                                    <img src="~/assets/svg/ico_noti_gray.svg" alt="" />
                                    <p>Thông báo</p>
                                </a>
                            </div>
                            <div class="cart-button">
                                <a asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                    <img src="~/assets/svg/ico_cart_gray.svg" alt="" />
                                    <p>Giỏ Hàng</p>
                                </a>
                            </div>
                            <partial name="_LoginPartial"/>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>