<div class="header">
    <header>
        <nav class="navbar-list container">
            <div class="row">
                <div class="col-lg-3">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="logo-img">
                        <img src="~/images/logo.png" alt="" />
                    </a>
                </div>
                <div class="col-lg-9 col-sm-12 form-input d-flex align-items-center">
                    <div class="d-flex search-bar">
                        <div class="search-options">
                            <img src="~/assets/svg/ico_menu.svg" alt="" />
                            <i class="fa-solid fa-angle-down"></i>
                            <div class="dropdown">
                                <div class="row">
                                    <div class="col-md-3 left">
                                        <p class="title">Danh Mục Sản Phẩm</p>
                                        <ul class="verticalmenu">
                                            <li class="tab-btn">
                                                <a href="">SÁCH VĂN HỌC</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">SÁCH KINH TẾ</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">SÁCH GIÁO KHOA</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">SÁCH TÂM LÝ - KỸ NĂNG SỐNG</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">SÁCH GIÁO KHOA</a>
                                            </li>
                                            <li class="tab-btn">
                                                <a href="">KHOA HỌC KỸ THUẬT</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 right active">
                                        <p class="menu-title">SÁCH VĂN HỌC</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="23">
                                                    <p>Tiểu Thuyết</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="24">
                                                    <p>Truyện ngắn - Tản văn</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="22">
                                                    <p>Light Novel</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                 </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="25">
                                                    <p>Ngôn Tình</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="26">
                                                    <p class="">Trinh thám</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="43">
                                                    <p class="">Hồi ký</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-9 right">
                                        <p class="menu-title">SÁCH KINH TẾ</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="27">
                                                    <p>Nhân Vật - Bài học Kinh doanh</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="28">
                                                    <p>Quản trị - Lãnh đạo</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="29">
                                                    <p>Marketing - Bán hàng</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="30">
                                                    <p>Phân tích Kinh tế</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-9 right">
                                        <p class="menu-title">Sách Thiếu Nhi</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="36">
                                                    <p>Vừa học vừa chơi</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="35">
                                                    <p>Sách tranh Kỹ năng sống</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="34">
                                                    <p>Kiến thức bách khoa</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 right">
                                        <p class="menu-title">Sách Tâm Lý - Kỹ Năng Sống</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="31">
                                                    <p>Kỹ năng sống</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="32">
                                                    <p>Rèn luyện Nhân cách</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="33">
                                                    <p>Tâm lý</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 right">
                                        <p class="menu-title">Sách Giáo Khoa - Tham Khảo</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="38">
                                                    <p>Giáo trình</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="39">
                                                    <p>Sách Giáo khoa</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="40">
                                                    <p>Sách Tham khảo</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 right">
                                        <p class="menu-title">Sách Khoa học Kỹ thuật</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a class="text-decoration-none" asp-controller="Book" asp-action="Find" asp-route-findby="cate" asp-route-id="42">
                                                    <p>Khoa học Vũ trụ</p>
                                                    <img class="cate-img" src="/images/defaultImg.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-input">
                            <form method="get" asp-controller="Book" asp-action="Search">
                                <input type="text"
                                       name="search"
                                       id="search"
                                       placeholder="Tìm kiếm sản phẩm mong muốn..." />
                            </form>
                        </div>
                       
                        <div class="cart">
                            <div class="notification-button">
                                <a href="">
                                    <img src="~/assets/svg/ico_noti_gray.svg" alt="" />
                                    <p>Thông báo</p>
                                </a>
                            </div>
                            <div class="cart-button">
                                <a asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                    <img src="~/assets/svg/ico_cart_gray.svg" alt="" />
                                    <p>Giỏ Hàng</p>
                                </a>
                            </div>
                            <partial name="_LoginPartial"/>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>