@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Customer/Views/Shared/_Layout.cshtml";
    }
}


<section id="cart-container">
    <div class="container">
        <div class="row mt-3 mb-3">
            <h2>Change your account settings</h2>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="./_ManageNav.cshtml" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
